@font-face {
    font-family: "Algreya";
    font-display: swap;
	font-weight: 100;
    src: url('/assets/typho/comfortaa/normal/100.ttf') format('truetype');
}

@font-face {
    font-family: "Algreya";
    font-display: swap;
	font-weight: 100;
    src: url('/assets/typho/comfortaa/italic/100.ttf') format('truetype');
}