@font-face {
    font-family: "Algreya";
    font-display: swap;
	font-weight: 800;
    src: url('/assets/typho/comfortaa/normal/800.ttf') format('truetype');
}

@font-face {
    font-family: "Algreya";
    font-display: swap;
	font-weight: 800;
    src: url('/assets/typho/comfortaa/italic/800.ttf') format('truetype');
}


